@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800&display=swap');
*{
	margin: 0;
	padding: 0;

}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;

}
img{
	max-width: 100%;
	display: block;
}




/*****************
     Heading
*****************/     
.navbar-light .navbar-nav .nav-link {
    color: #204f87 !important;
    font-size: 12px;
    font-weight: 600;}

 .navbar{
 	padding: 20px 0;
 }

.nav-link:hover{}

/*****************
Banner_section
******************/
.banner-section{
	background-image: url('../img/banner_pro.png');
	min-height: 498px;
	background-size: : cover;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
}


.over-banner{
	background-size: cover;
	background-image: url(../img/banner2_pro.png);
	background-repeat:no-repeat;
	width: 53%;
	height: 100%;
	position: absolute;
}

.container_content{}
.container_content h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 70px;
}


.arow-down{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
/*****************
   About-section
******************/	
.about{
}
.row{}
.heading{}
.heading span{
    width: 45px;
    height: 3px;
    display: block;
    background: #f05428;
    margin-bottom: 15px;
}
.heading h1{
    font-size: 30px;
    font-weight: 600;
    color: #28377e;
    padding-bottom: 40px;
}
p{
    font-size: 13px;
    color: #b0b0b1;
    line-height: 1.6em;
    text-align: justify;
}
.col-md-6 img{}

/********************
   what we do
 *******************/
 .what-we-do .heading span{
 	margin: 0 auto;
 	margin-bottom: 15px;
 } 
 .what-we-do{
		background: #f7f8f8;
		position: relative;
 }
 .what-we-do::before{
 	content: '';
 	position: absolute;
 	background: url('../img/content.png');
 	height: 82%;
 	width: 100%;
 	background-repeat: no-repeat;
 	background-position: right, bottom;
 	background-size:;
 	right: 0;
 	bottom: 0;
 	background-size: 67%;
 }
 .we-do{
    position: relative;
}
.we-do::before{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+1,204f87+100&0+0,0.84+100 */
background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(30,87,153,0.01) 1%, rgba(32,79,135,0.84) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.01) 1%,rgba(32,79,135,0.84) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(30,87,153,0.01) 1%,rgba(32,79,135,0.84) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#d6204f87',GradientType=0 ); /* IE6-9 */

}
 .we-do img{
 	width: 100%;
 }
 .we-do h4{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: #fff;
		font-size: 26px;
}
 .we-do a{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    font-size: 18px;
    bottom: 30px;
}
.attorny{
	background-image: url('../img/m.png');
	background-size: : cover;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
}
 .we-do h3{
		position: absolute;
		color: #fff;
		font-size: 26px;
		bottom: 30px;
		left: 30px;
}
.seemore{
	font-size: 14px;
	color: #f05428;
	font-weight: 600;
	text-transform: uppercase;
}

/************************
    language
************************/    
.language .heading span{
 	margin: 0 auto;
 	margin-bottom: 20px;
 }
 .languages{}
 .languages h3{
    color: #28377e;
    font-weight: 700;
    font-size: 24px;
}

 .contuck .heading span{
 	margin: 0 auto;
	 margin-bottom: 20px;
 }
 .contuck{
 	background:  #28377e;
 }











.btn-custom{
    background: #f75416;
    padding: 15px 60px;
    border-radius: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 3 0px;
}
.form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid #656e94d6;
    border-radius: 0;
    color: #fff !important;
}
.form-control:focus{
	background-color:  transparent;
	border: 1px solid #656e94d6;
	box-shadow: 0 0 0 0 rgba(0,123,255,0);
}

input::placeholder{
	color: #fff !important;
	font-weight: 600;
}

textarea::placeholder{
	color: #fff !important;
	font-weight: 600;
}



footer{
	background: #0c1234;
}
footer a{
    color: #b1b7dd;
    padding: 0 5px;
    font-size: 24px;
}
footer p{
    margin: 0;
    color: #b1b7dd;
    font-size: 12px;
}navbar